<div>
  <% @comments.each do |comment| %>
    <p>
      <b>Comment:</b>
      <%= comment.comment %>
      <td><%= link_to 'Show', [@post, comment] %></td>
      <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
      <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </p>
  <% end %>

</div>